<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Drawings</title>
  </head>
  <body>
    <a href="/">Home</a>
    <div class='container'>
      <a class='right_arrow' onclick="plusDivs(1)">&#10095;</a>
      <% @drawings.each do |drawing| %>
          <%= image_tag drawing.image.url(:medium), class: 'image' %>
      <% end %>
      <a class='left_arrow' onclick="plusDivs(-1)">&#10094;</a>
    </div>

    <script>
      var slideIndex = 1;
      showDivs(slideIndex);

      function plusDivs(n) {
        showDivs(slideIndex += n);
      }

      function showDivs(n) {
        var i;
        var x = document.getElementsByClassName("image");
        if (n > x.length) {slideIndex = 1}
        if (n < 1) {slideIndex = x.length}
        for (i = 0; i < x.length; i++) {
           x[i].style.display = "none";
        }
        x[slideIndex-1].style.display = "block";
      }
    </script>
  </body>
</html>
