<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <title>Beau Rouse</title>
    <style media="screen">
    .container-fluid {
      width: 100%;
    }

    .img-responsive {
      margin:auto;
    }
    </style>

  </head>
  <body>
    <div class="container">

        <div class='homepage_picture'>
          <% if @homepage_picture != nil %>
          <%= image_tag @homepage_picture.image.url(:medium), class: 'img-responsive' %>
          <% end %>
        </div>
      </div>

      <span class="fa fa-instagram"></span>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
