.uploading_form {
  display: flex;
}

.all_art {
  display: flex;
  flex-direction: column;

}

.artType {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.artName {

}

.art {
  display: grid;
  flex-direction: column;

}


.image {

}

.button {

}

.table, td, th {
  border: 1px solid black;
}
